{% extends 'base.html.twig' %}
{% trans_default_domain "idp_user" %}

{% block body %}
<div class="ibox">
    <div class="ibox-title">
        <h1>{{ "initpasswordreset.title"|trans({"%user%": idpuser})|raw }}</h1>
    </div>
    <div class="ibox-content">        
        <div class="form-group">
            <div class="col-sm-4 col-sm-offset-2">
                <a class="btn btn-white" href="{{ path('idpuser_edit', {id: idpuser.id}) }}">{{ "initpasswordreset.back_to_user_button"|trans|raw }}</a>
                <button type="submit" class="btn btn-primary" />{{ "initpasswordreset.send_button"|trans|raw }}</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
