{% extends "::base.html.twig" %}

{% block title %}{% endblock %}

{% block body %}

<div style="margin-top: 60px;" class="col-xs-12 col-sm-6 col-sm-offset-3">
	<div class="ibox">
		<div class="ibox-content">
			<form class="form" action="" method="post">
			<label for="_auth_code">TOTP authentication code</label>
			<input id="_auth_code" class="form-control" type="text" autocomplete="off" name="_auth_code" />
			<input class="btn-block btn btn-primary" type="submit" value="Login" />
			<a class="btn-block btn btn-default" href="{{ path("fos_user_security_logout") }}">Cancel</a>
		</div>
	</div> 
</div>

{% endblock %}
