{% extends "::base.html.twig" %}

{% block firstbody %}
<div class="wrapper outer-home firstbody" style="height:100vh">
    <div class="container">
      <div class="col-md-8 col-md-offset-2" style="padding:100px 0;">
        <div style="background: rgba(226, 226, 226, 0.7 );;padding: 30px;border-radius: 10px;">
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
        </div>

    </div>
</div>
{% endblock %}

{% block bodywrapper %}{% endblock %}

{% block javascripts %}
    {% javascripts
    '@pwstrength_js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="https://unpkg.com/webauthn-ui@0.0.2/dist/umd/webauthn-ui.min.js"></script>
    <script>
    $(document).ready(function() {

        $('.navbar-default').addClass('navbar-scroll');
        
        $( document ).ready(function() {
            $('.navbar-default').removeClass('navbar-scroll');
        });

        // password strength
        var options = {};
            options.ui = { showVerdictsInsideProgressBar: true };
            options.common = {
            onKeyUp: function (evt, data) {
                if(data.score > 25) { // strong
                    $('#change_password_submit').removeAttr('disabled');
                    $('#form_submit').removeAttr('disabled');
                    $('#register_submit').removeAttr('disabled');
                } else {
                    $('#change_password_submit').attr('disabled', 'disabled');
                    $('#form_submit').attr('disabled', 'disabled');
                    $('#register_submit').attr('disabled', 'disabled');
                }
            }
        };
        $('#fos_user_change_password_form_plainPassword_first').pwstrength(options);
        $('#fos_user_change_password_form_plainPassword_first').css('margin-bottom', '12px');

        $('#form_password_first').pwstrength(options);
        $('#form_password_first').css('margin-bottom', '12px');

        $('#fos_user_registration_form_plainPassword_first').pwstrength(options);
        $('#fos_user_registration_form_plainPassword_first').css('margin-bottom', '12px');

    });
    </script>
{% endblock %}
