{% trans_default_domain 'FOSUserBundle' %}
<h1>Change your password</h1>
{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password p-h-md' } }) }}
{{ form_widget(form) }}
<div class="col-md-8 col-md-offset-4">
    <input type="submit" id="change_password_submit" class="btn btn-primary btn-lg" disabled="disabled" value="{{ 'change_password.submit'|trans }}"/>
</div>
<div class="clrearfix p-h-lg"></div>
{{ form_end(form) }}
